/tmp
*/**/*un~
*/**/*.test
*un~
.DS_Store
*/**/.DS_Store
.ethtest
*/**/*tx_database*
*/**/*dapps*
build/_workspace/**
build/bin/**
build/_vendor/pkg

#*
.#*
*#
*~
.project
.settings

# used by the Makefile
# /build/_workspace/
# /build/bin/
/geth*.zip

# travis
profile.tmp
profile.cov

# IdeaIDE
.idea

.*.swp
cscope*
run_cscope
